/* Estilos globais */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.wrapper {
    flex: 1;
}

header {
    background-color: #ffcc00;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os posts horizontalmente */
}

/* Estilos para as postagens */
.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%; /* Garante que o post ocupe 100% da largura máxima definida */
    margin-left: auto;
    margin-right: auto; /* Centraliza o post horizontalmente */
}

.post-title {
    color: #ff6600;
    margin: 0;
    font-size: 1.5em;
}

.post-date {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.post-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.post-text {
    margin-bottom: 10px;
}

.read-more {
    text-decoration: none;
    color: #ff6600;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

/* Estilos para o rodapé fixo no fim da página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}
